<div class="container min-vh-100">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-sm-12 col-md-8 col-lg-6">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class=" d-flex justify-content-center">
          <label for="nome">nome</label>
            <input type="text" formControlName="nome" />
        </div>
        <div class=" d-flex justify-content-center">
          <label for="cognome">cognome</label>
            <input type="text" formControlName="cognome"/>
        </div>
        <div class=" d-flex justify-content-center">
          <label for="email">email</label>
            <input type="email" formControlName="email"/>
        </div>
        <div class="d-flex justify-content-center">
          <label for="password">password</label>
            <input type="password" formControlName="password" />
        </div>
        <div class="d-flex justify-content-center">
          <label for="ripetipassword">Conferma password</label>
            <input type="password" formControlName="ripetipassword"/>
        </div>
        <div class="d-flex justify-content-center">
          <label for="accetto">Accetto</label>
            <input type="checkbox" formControlName="accetto"/>
        </div>
        <div class="d-flex justify-content-center ">
          <button [disabled]="">Accedi</button>
        </div>
        <div class="d-flex justify-content-center">
          <p>Se sei già registrato, <a style="cursor: pointer;"><strong (click)="goToLogin()">Accedi</strong></a> </p>
        </div>
      </form>
    </div>
  </div>
</div>
