<div class="container min-vh-100">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-sm-12 col-md-8 col-lg-6 d-flex justify-content-center">
      <div class="p-lg-2 rounded shadow bg-primary bg-opacity-10 " style="height: 500px; width: 400px;">
        <form (ngSubmit)="onSubmit()" #form="ngForm"
          class="h-100 d-flex flex-column justify-content-center position-relative">
          <h1 class="position-absolute top-0 start-0 m-3">Amazon</h1>

          <!-- Email Field -->
          <div class="row mb-3 align-items-center">
            <div class="col-4 text-end">
            </div>
            <div class="d-flex justify-content-center">
              <div class="col-6">
                <input type="email" [(ngModel)]="email" name="email" required class="form-control" id="email"
                  placeholder="email" />
              </div>
            </div>
          </div>

          <!-- Password Field -->
          <div class="row mb-3 align-items-center">
            <div class="col-4 text-end">
            </div>
            <div class="d-flex justify-content-center">
              <div class="col-6">
                <input type="password" [(ngModel)]="password" name="password" required minlength="8" maxlength="16"
                  class="form-control" id="password" placeholder="password" />
              </div>
            </div>
          </div>

          <!-- Submit Button -->
          <div class="row">
            <div class="col text-center">
              <button [disabled]="!form.valid" type="submit" class="btn btn-primary btn-lg">
                Accedi
              </button>
            </div>
          </div>

          <!-- Registration Link -->
          <div class="row mt-3">
            <div class="col text-center">
              <p>
                Se non sei registrato,
                <a style="cursor: pointer"><strong (click)="goToRegister()">Registrati</strong></a>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>